body
{
	background-color: #E8E8E8;
}

#vision-board
{
	width: 1200px;
	height: 850px;
	margin: 0 auto;
    font-family: 'Montserrat', sans-serif; 
	background-image: url("C:/Users/gnimi/Documents/web/vision/img/background.png");	
}

.block.dark img {
    position: relative;
    left: 130px;
    top: 12px;
    margin-top: 50px;

}

.block 
{
    width: 400px;
    float: left;
    box-sizing: border-box;
}

#sm
{
	height: 210px;
}

#lb
{
	height: 430px;
}

.li
{
	background-color: #ffffff;
}

.dark
{
	background: #3b3b3b;
}

h5 
{
    text-transform: uppercase;
    font-size: 20px;
    display: table;
    background-color: yellow;
    padding: 6px;
    margin-left: 14px;
}

span
{
    font-size: 30px;
}

p 
{
	font-size: 20px;
	padding-left: 15px;
	width: 366px;
}

ul
{
    list-style: none;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    padding: 0px;
    box-sizing: border-box;
    padding: 0px 110px 0px;
    line-height: 30px;
}

.left
{
	text-align: left;
}

.right
{
    text-align: right;
    padding-top: 20px;
    padding-right: 74px;
}

.right h5 
{
    margin-right: 24px;
    margin-top: 44px;
    padding-top: 6px;
    margin-bottom: 0px;
}

#sm img
{
	box-sizing: border-box;
    padding: 28px;
    padding-left: 106px;
}

.left img 
{
    padding: 12px;
}

h3 span
{
	font-family: 'Permanent Marker', cursive;
	text-align: center;
}

h3
{
	text-align: center;
}